IO_LOC  "rst" 32;
IO_PORT "rst" DRIVE=8 IO_TYPE=SSTL25_I PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "blink_out" 10;
IO_PORT "blink_out" DRIVE=8 IO_TYPE=LVCMOS18;