IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "led2_out" 10;
IO_PORT "led2_out" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led1_out" 16;
IO_PORT "led1_out" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led3_out" 13;
IO_PORT "led3_out" DRIVE=8 IO_TYPE=LVCMOS18;