IO_LOC  "rst" 32;
IO_PORT "rst" DRIVE=8 IO_TYPE=SSTL25_I PULL_MODE=DOWN;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led2_out" 10;
IO_PORT "led2_out" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "blink_out" 13;
IO_PORT "blink_out" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led1_out" 16;
IO_PORT "led1_out" DRIVE=8 IO_TYPE=LVCMOS18;